apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      serviceAccountName: order-service
      containers:
        - name: order-service
          image: tienphatng237/mini-ecommerce-order-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          env:
            - name: DB_URL
              value: jdbc:postgresql://order-db:5432/orderdb
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: order-db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: order-db-secret
                  key: POSTGRES_PASSWORD
            - name: PRODUCT_SERVICE_BASE_URL
              value: http://product-service:8080
            - name: HTTP_CONNECT_TIMEOUT_MS
              value: "2000"
            - name: HTTP_READ_TIMEOUT_MS
              value: "5000"
