apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mini-ecommerce

# =========================
# BASE RESOURCES
# =========================
resources:
  # Namespace
  - ../../namespaces

  # Core services
  - ../../base/api-gateway
  - ../../base/frontend
  - ../../base/user-service
  - ../../base/product-service
  - ../../base/order-service

  # Databases (StatefulSet)
  - ../../base/databases


  # Extra dev-only resources
  - pdb.yaml

# =========================
# PATCHES (DEV ONLY)
# =========================
patches:
  # Scale cho dev
  - path: replicas.yaml

  # CPU / Memory limit cho dev
  - path: resources.yaml

  # topologySpreadConstraints
  - path: tsc.yaml

# =========================
# IMAGES (DEV TAG)
# =========================
images:
  - name: tienphatng237/mini-ecommerce-api-gateway
    newTag: dev

  - name: tienphatng237/mini-ecommerce-frontend
    newTag: 679659a

  - name: tienphatng237/mini-ecommerce-user-service
    newTag: dev

  - name: tienphatng237/mini-ecommerce-product-service
    newTag: dev

  - name: tienphatng237/mini-ecommerce-order-service
    newTag: dev
